@import url("https://fonts.googleapis.com/css?family=Comfortaa|Rubik&display=swap");

h1 {
    font-family: "Comfortaa";
    color: white;
    margin: 0px;
    padding: 2rem;
    width: 100%;
    background-color: #D12E33;
}   

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

p {
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-family: "Rubik";
    color: #ffd622;
}

html {
    text-align: center;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    background-color: #023D5B;
}

.graph-wrapper {
    background: none;
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: flex;
    justify-content: center;
    padding: 2vw;
}

.graph-container-left, .graph-container-middle, .graph-container-right {
    width: 33%;
    margin: 0.5vw;
}

.chart {
    position: relative;
    width: 30vw;
    height: 30vh;
    background-color: white;
    -webkit-box-shadow: 2px 8px 45px rgb(112, 5, 80);
    box-shadow: 2px 8px 45px rgb(112, 5, 80);
    -webkit-transition: all 0.2s linear;
    transition: all 0.3s linear;
}

.chart:hover {
    z-index: 2;
    -webkit-box-shadow: 4px 16px 45px rgb(156, 24, 117);
    box-shadow: 4px 16px 45px rgb(156, 24, 117);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transform-origin: center;
    transform-origin: center;
}

canvas {
    display: inline-block;
    position: relative;
    margin: auto;
    padding: 0px;
}

canvas#pieChart {
    height: 95%; 
}

#searchBar {
    height: 50%;
    width: 30%;
    border: 0.3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: #ffd622;
    font-size: 1em;
    outline: none;
    background-color: rgb(43, 39, 39);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchBar:before {
    background-color: #004978;
}

::placeholder {
    color: white;
}

#searchBar:focus {
    width: 80%;
    background-color: rgb(80, 80, 80);
    -webkit-transition: width 0.4s ease-in-out;
    transition: 1s;
  }

.search-bar-container {
    margin: 0px;
    margin-top: 15vh;
    padding: 0px;
    height: 10vh;
}