@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

h1 {
    font-family: "Lato";
    color: #004978;
    text-align: center;
}   

html {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    height: 100vh;
}

.scatter {
    width: 30vw;
    height: 30vh;
    margin: 1rem;
    display: inline-block;
    white-space: normal;
    position: relative;
}

.pie {
    width: 30vw;
    height: 30vh;
    margin: 1rem;
    display: inline-block;
    white-space: normal;
    position: relative;
}