@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

h1 {
    font-family: "Lato";
    color: #004978;
    text-align: center;
}   

html {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    height: 100vh;
}

.graph-container {
    max-width : 1200px;
    margin-left: auto;
    margin-right: auto;
}

.scatter {
    max-width: 450px;
    display: inline-block;
    position: relative;
    padding: 5px;
    border: 5px;
}

.pie {
    max-width: 450px;
    display: inline-block;
    position: relative;
    padding: 5px;
    border: 5px;
}

#clear {
    clear: both;
}

canvas {
    display: inline-block;
    position: relative;
}